<div class="main">
  <!-- START main-title -->
  <div class="main-title">
    СПОРТСМЕНЫ
  </div>
  <!-- END main-title -->

  <div class="wrapper athletes-wr">

    <div class="table athletes-tb">

      <div class="row header-tb athletes-tb__head">

        <div class="cell athletes-tb__head--cell">
          Дата
          регистрации
        </div>
        <div class="cell athletes-tb__head--cell">
          Ф.И.О
          спортсмена
        </div>
        <div class="cell athletes-tb__head--cell">
          Вид
          спорта
        </div>
        <div class="cell athletes-tb__head--cell" style="padding: 4rem;">
          Даты
          покупок
        </div>
        <div class="cell athletes-tb__head--cell">
          Общая
          сумма
        </div>
        <div class="cell athletes-tb__head--cell">
          Доход
          10%
        </div>

      </div>



      <!-- START row -->
      <div class="row">
        <div class="cell athletes-tb__cell" style="color: #939598;">
          12/11/2019
        </div>

        <div class="cell athletes-tb__cell">
          Сергей <br>
          Васильев
        </div>

        <div class="cell athletes-tb__cell">
          Биатлон
        </div>

        <div class="cell athletes-tb__cell" style="padding: 1rem;">
          16.07.2018 - 1500р <br>
          16.07.2018 - 1500р <br>
          16.07.2018 - 1500р
        </div>

        <div class="cell athletes-tb__cell">
          4500
        </div>

        <div class="cell athletes-tb__cell">
          450
        </div>


      </div>
      <!-- END row -->


      <!-- START row -->
      <div class="row">
        <div class="cell athletes-tb__cell" style="color: #939598;">
          12/11/2019
        </div>

        <div class="cell athletes-tb__cell">
          Сергей <br>
          Васильев
        </div>

        <div class="cell athletes-tb__cell">
          Биатлон
        </div>

        <div class="cell athletes-tb__cell" style="padding: 1rem;">
          16.07.2018 - 1500р <br>
          16.07.2018 - 1500р <br>
          16.07.2018 - 1500р
        </div>

        <div class="cell athletes-tb__cell">
          4500
        </div>

        <div class="cell athletes-tb__cell">
          450
        </div>


      </div>
      <!-- END row -->


      <!-- START row -->
      <div class="row">
        <div class="cell athletes-tb__cell" style="color: #939598;">
          12/11/2019
        </div>

        <div class="cell athletes-tb__cell">
          Сергей <br>
          Васильев
        </div>

        <div class="cell athletes-tb__cell">
          Биатлон
        </div>

        <div class="cell athletes-tb__cell" style="padding: 1rem;">
          16.07.2018 - 1500р <br>
          16.07.2018 - 1500р <br>
          16.07.2018 - 1500р
        </div>

        <div class="cell athletes-tb__cell">
          4500
        </div>

        <div class="cell athletes-tb__cell">
          450
        </div>


      </div>
      <!-- END row -->


      <!-- START row -->
      <div class="row">
        <div class="cell athletes-tb__cell" style="color: #939598;">
          12/11/2019
        </div>

        <div class="cell athletes-tb__cell">
          Сергей <br>
          Васильев
        </div>

        <div class="cell athletes-tb__cell">
          Биатлон
        </div>

        <div class="cell athletes-tb__cell" style="padding: 1rem;">
          16.07.2018 - 1500р <br>
          16.07.2018 - 1500р <br>
          16.07.2018 - 1500р
        </div>

        <div class="cell athletes-tb__cell">
          4500
        </div>

        <div class="cell athletes-tb__cell">
          450
        </div>


      </div>
      <!-- END row -->




      <!-- START row -->
      <div class="row">
        <div class="cell athletes-tb__cell" style="color: #939598;">
          12/11/2019
        </div>

        <div class="cell athletes-tb__cell">
          Сергей <br>
          Васильев
        </div>

        <div class="cell athletes-tb__cell">
          Биатлон
        </div>

        <div class="cell athletes-tb__cell" style="padding: 1rem;">
          16.07.2018 - 1500р <br>
          16.07.2018 - 1500р <br>
          16.07.2018 - 1500р
        </div>

        <div class="cell athletes-tb__cell">
          4500
        </div>

        <div class="cell athletes-tb__cell">
          450
        </div>


      </div>
      <!-- END row -->


    </div>
  </div>


  <div class="athletes-desc">
    <span class="athletes-desc__total">ИТОГО: 1050</span>
    <!-- START table-btn -->
    <div class="table-btns pass-acc athletes-desc__btn">
      <button class="table-btn table-btns--blue">ВЫВЕСТИ</button>
    </div>
    <!-- END table-btn -->
  </div>


</div>
