<div class="main">
  <!-- START main-title -->
  <div class="main-title">
    СПОРТСМЕНЫ
  </div>
  <!-- END main-title -->

  <div class="wrapper athletes-wr">

    <table class="table athletes-tb" data-tablesaw-mode="swipe">
      <thead>

      <tr class="row header-tb athletes-tb__head">

        <th class="cell athletes-tb__head--cell">
          Дата
          регистрации
        </th>
        <th class="cell athletes-tb__head--cell">
          Ф.И.О
          спортсмена
        </th>
        <th class="cell athletes-tb__head--cell">
          Вид
          спорта
        </th>
        <th class="cell athletes-tb__head--cell" style="padding: 4rem;">
          Даты
          покупок
        </th>
        <th class="cell athletes-tb__head--cell">
          Общая
          сумма
        </th>
        <th class="cell athletes-tb__head--cell">
          Доход
          10%
        </th>

      </tr>
      </thead>



      <!-- START row -->
      <tr class="row">
        <td class="cell athletes-tb__cell" style="color: #939598;">
          12/11/2019
        </td>

        <td class="cell athletes-tb__cell">
          Сергей <br>
          Васильев
        </td>

        <td class="cell athletes-tb__cell">
          Биатлон
        </td>

        <td class="cell athletes-tb__cell" style="padding: 1rem;">
          16.07.2018 - 1500р <br>
          16.07.2018 - 1500р <br>
          16.07.2018 - 1500р
        </td>

        <td class="cell athletes-tb__cell">
          4500
        </td>

        <td class="cell athletes-tb__cell">
          450
        </td>


      </tr>
      <!-- END row -->


      <!-- START row -->
      <tr class="row">
        <td class="cell athletes-tb__cell" style="color: #939598;">
          12/11/2019
        </td>

        <td class="cell athletes-tb__cell">
          Сергей <br>
          Васильев
        </td>

        <td class="cell athletes-tb__cell">
          Биатлон
        </td>

        <td class="cell athletes-tb__cell" style="padding: 1rem;">
          16.07.2018 - 1500р <br>
          16.07.2018 - 1500р <br>
          16.07.2018 - 1500р
        </td>

        <td class="cell athletes-tb__cell">
          4500
        </td>

        <td class="cell athletes-tb__cell">
          450
        </td>


      </tr>
      <!-- END row -->


      <!-- START row -->
      <tr class="row">
        <td class="cell athletes-tb__cell" style="color: #939598;">
          12/11/2019
        </td>

        <td class="cell athletes-tb__cell">
          Сергей <br>
          Васильев
        </td>

        <td class="cell athletes-tb__cell">
          Биатлон
        </td>

        <td class="cell athletes-tb__cell" style="padding: 1rem;">
          16.07.2018 - 1500р <br>
          16.07.2018 - 1500р <br>
          16.07.2018 - 1500р
        </td>

        <td class="cell athletes-tb__cell">
          4500
        </td>

        <td class="cell athletes-tb__cell">
          450
        </td>


      </tr>
      <!-- END row -->


      <!-- START row -->
      <tr class="row">
        <td class="cell athletes-tb__cell" style="color: #939598;">
          12/11/2019
        </td>

        <td class="cell athletes-tb__cell">
          Сергей <br>
          Васильев
        </td>

        <td class="cell athletes-tb__cell">
          Биатлон
        </td>

        <td class="cell athletes-tb__cell" style="padding: 1rem;">
          16.07.2018 - 1500р <br>
          16.07.2018 - 1500р <br>
          16.07.2018 - 1500р
        </td>

        <td class="cell athletes-tb__cell">
          4500
        </td>

        <td class="cell athletes-tb__cell">
          450
        </td>


      </tr>
      <!-- END row -->




      <!-- START row -->
      <tr class="row">
        <td class="cell athletes-tb__cell" style="color: #939598;">
          12/11/2019
        </td>

        <td class="cell athletes-tb__cell">
          Сергей <br>
          Васильев
        </td>

        <td class="cell athletes-tb__cell">
          Биатлон
        </td>

        <td class="cell athletes-tb__cell" style="padding: 1rem;">
          16.07.2018 - 1500р <br>
          16.07.2018 - 1500р <br>
          16.07.2018 - 1500р
        </td>

        <td class="cell athletes-tb__cell">
          4500
        </td>

        <td class="cell athletes-tb__cell">
          450
        </td>


      </tr>
      <!-- END row -->


    </table>
  </div>


  <div class="athletes-desc">
    <span class="athletes-desc__total">ИТОГО: 1050</span>
    <!-- START table-btn -->
    <div class="table-btns pass-acc athletes-desc__btn">
      <button class="table-btn table-btns--blue">ВЫВЕСТИ</button>
    </div>
    <!-- END table-btn -->
  </div>


</div>
