<!-- START footer-hero -->
<div class="footer-hero">
    <div class="footer-hero__shadow"></div>
</div>
<!-- END footer-hero -->


<!-- START footer -->
<footer class="footer">
    <div class="container">
        <div class="footer__nav">
            <a href="#" class="footer__nav--link">Главная</a>
            <a href="#" class="footer__nav--link">Правила и условия</a>
            <a href="#" class="footer__nav--link">Конфиденциальность</a>
        </div>
    </div>
</footer>
<!-- END footer -->
