<!-- START sidebar -->
<div class="sidebar">

  <div class="sidebar__hero">
    <div class="sidebar__hero--ava">AC</div>
    <div class="sidebar__hero--hello">Здравствуйте,</div>
    <div class="sidebar__hero--user">Александр Савельев</div>
  </div>

  <div class="sidebar__menu">
    <a href="#" class="sidebar__menu--link">
      <img class="icon-sidebar" src="./img/icons/icon-1-1.svg" />
      Общая статистика
    </a>
    <a href="#" class="sidebar__menu--link">
      <img class="icon-sidebar" src="./img/icons/icon-2-1.svg" />
      Спортсмены
    </a>
    <a href="#" class="sidebar__menu--link">
      <img class="icon-sidebar" src="./img/icons/icon-3-1.svg" />
      Пригласить друзей
    </a>
    <a href="#" class="sidebar__menu--link">
      <img class="icon-sidebar" src="./img/icons/icon-4-1.svg" />
      Аккаунт
    </a>
    <a href="#" class="sidebar__menu--link trainer-link">
      <span class="trainer-link__counter">1</span>
      <img class="icon-sidebar" src="./img/icons/trainer-1.svg" />
      Для тренера
    </a>
  </div>
  <a href="#" class="sidebar__btn-big">Выход</a>


</div>
<!-- END sidebar -->
