<div class="wrapper">

  <div class="table">

    <div class="row header-tb">
      <div class="cell" style="text-align: left; font-weight: 900; font-size: 1.6rem;">
        ПАРАМЕТРЫ
      </div>
      <div class="cell">
        ВСЕГО
      </div>
      <div class="cell hidden-sm">
        сегодня
      </div>
      <div class="cell hidden-sm">
        за неделю
      </div>
      <div class="cell hidden-sm">
        за месяц
      </div>
      <div class="cell hidden-sm">
        за год
      </div>
      <div class="cell hidden-sm">
        за период
      </div>
    </div>

    <!-- START row -->
    <div class="row">
      <div class="cell" style="text-align: left;">
          Опубликовали ссылку
      </div>

      <div class="cell">
        50 000
      </div>

      <div class="cell hidden-sm">
        1000
      </div>

      <div class="cell hidden-sm">
        1000
      </div>

      <div class="cell hidden-sm">
        15000
      </div>

      <div class="cell hidden-sm">
        20000
      </div>

      <div class="cell hidden-sm">
        34000
      </div>
    </div>
    <!-- END row -->



    <!-- START row -->
    <div class="row">
      <div class="cell" style="text-align: left;">
          Разослали писем
      </div>

      <div class="cell">
        50 000
      </div>

      <div class="cell hidden-sm">
        0
      </div>

      <div class="cell hidden-sm">
        2000
      </div>

      <div class="cell hidden-sm">
        15000
      </div>

      <div class="cell hidden-sm">
        20000
      </div>

      <div class="cell hidden-sm">
        34000
      </div>
    </div>
    <!-- END row -->


  </div>
</div>


