<div class="wrapper">

  <table class="table" data-tablesaw-mode="swipe">

    <thead>
    <tr class="row header-tb">
      <th class="cell" style="text-align: left; font-weight: 900; font-size: 1.6rem;">
        ПАРАМЕТРЫ
      </th>
      <th class="cell ">
        ВСЕГО
      </th>
      <th class="cell ">
        сегодня
      </th>
      <th class="cell ">
        за неделю
      </th>
      <th class="cell">
        за месяц
      </th>
      <th class="cell ">
        за год
      </th>
      <th class="cell ">
        за период
      </th>
    </tr></thead>

    <!-- START row -->
    <tr class="row">
      <td class="cell" style="text-align: left;">
        Лыжные гонки
      </td>

      <td class="cell ">
        108
      </td>

      <td class="cell ">
        0
      </td>

      <td class="cell ">
        3
      </td>

      <td class="cell">
        17
      </td>

      <td class="cell ">
        32
      </td>

      <td class="cell ">
        12
      </td>
    </tr>
    <!-- END row -->



    <!-- START row -->
    <tr class="row">
      <td class="cell" style="text-align: left;">
        Биатлон
      </td>

      <td class="cell ">
        108
      </td>

      <td class="cell ">
        0
      </td>

      <td class="cell ">
        3
      </td>

      <td class="cell">
        17
      </td>

      <td class="cell ">
        32
      </td>

      <td class="cell ">
        12
      </td>
    </tr>
    <!-- END row -->


    <!-- START row -->
    <tr class="row">
      <td class="cell" style="text-align: left;">
        Легкая атлетика
      </td>

      <td class="cell ">
        108
      </td>

      <td class="cell ">
        0
      </td>

      <td class="cell ">
        3
      </td>

      <td class="cell">
        17
      </td>

      <td class="cell ">
        32
      </td>

      <td class="cell ">
        12
      </td>
    </tr>
    <!-- END row -->


    <!-- START row -->
    <tr class="row">
      <td class="cell" style="text-align: left;">
        Гонки героев
      </td>

      <td class="cell ">
        108
      </td>

      <td class="cell ">
        0
      </td>

      <td class="cell ">
        3
      </td>

      <td class="cell">
        17
      </td>

      <td class="cell ">
        32
      </td>

      <td class="cell ">
        12
      </td>
    </tr>
    <!-- END row -->


    <!-- START row -->
    <tr class="row">
      <td class="cell" style="text-align: left;">
        Функциональная тренировка
      </td>

      <td class="cell ">
        108
      </td>

      <td class="cell ">
        0
      </td>

      <td class="cell ">
        3
      </td>

      <td class="cell">
        17
      </td>

      <td class="cell ">
        32
      </td>

      <td class="cell ">
        12
      </td>
    </tr>
    <!-- END row -->


  </table>
</div>


