<div class="wrapper">

  <div class="table">

    <div class="row header-tb">
      <div class="cell" style="text-align: left; font-weight: 900; font-size: 1.6rem;">
        ПАРАМЕТРЫ
      </div>
      <div class="cell" >ВСЕГО</div>
      <div class="cell hidden-xs"> СЕГОДНЯ</div>
      <div class="cell hidden-xs">
        ЗА НЕДЕЛЮ
      </div>
      <div class="cell hidden-xs">
        ЗА МЕСЯЦ
      </div>
      <div class="cell hidden-xs">
        ЗА ГОД
      </div>
      <div class="cell hidden-xs">
        ЗА ПЕРИОД
      </div>
    </div>

    <!-- START row -->
    <div class="row">
      <div class="cell" style="text-align: left;">
        Поступило на счет
      </div>

      <div class="cell">50 000</div>

      <div class="cell hidden-xs">
        1000
      </div>

      <div class="cell hidden-xs">
        1000
      </div>

      <div class="cell hidden-xs">
        15000
      </div>

      <div class="cell hidden-xs">
        20000
      </div>

      <div class="cell hidden-xs">
        34000
      </div>
    </div>
    <!-- END row -->



    <!-- START row -->
    <div class="row">
      <div class="cell" style="text-align: left;">
        Выведено со счета
      </div>

      <div class="cell">50 000</div>

      <div class="cell hidden-xs">
        1000
      </div>

      <div class="cell hidden-xs">
        1000
      </div>

      <div class="cell hidden-xs">
        15000
      </div>

      <div class="cell hidden-xs">
        20000
      </div>

      <div class="cell hidden-xs">
        34000
      </div>
    </div>
    <!-- END row -->


  </div>
</div>

