<div class="wrapper">

  <div class="table">

    <div class="row header-tb">
      <div class="cell" style="text-align: left; font-weight: 900; font-size: 1.6rem;">
        ПАРАМЕТРЫ
      </div>
      <div class="cell hidden-xs">
        ВСЕГО
      </div>
      <div class="cell hidden-xs">
        сегодня
      </div>
      <div class="cell hidden-xs">
        за неделю
      </div>
      <div class="cell">
        за месяц
      </div>
      <div class="cell hidden-xs">
        за год
      </div>
      <div class="cell hidden-xs">
        за период
      </div>
    </div>

    <!-- START row -->
    <div class="row">
      <div class="cell" style="text-align: left;">
        Лыжные гонки
      </div>

      <div class="cell hidden-xs">
        108
      </div>

      <div class="cell hidden-xs">
        0
      </div>

      <div class="cell hidden-xs">
        3
      </div>

      <div class="cell">
        17
      </div>

      <div class="cell hidden-xs">
        32
      </div>

      <div class="cell hidden-xs">
        12
      </div>
    </div>
    <!-- END row -->



    <!-- START row -->
    <div class="row">
      <div class="cell" style="text-align: left;">
        Биатлон
      </div>

      <div class="cell hidden-xs">
        108
      </div>

      <div class="cell hidden-xs">
        0
      </div>

      <div class="cell hidden-xs">
        3
      </div>

      <div class="cell">
        17
      </div>

      <div class="cell hidden-xs">
        32
      </div>

      <div class="cell hidden-xs">
        12
      </div>
    </div>
    <!-- END row -->


    <!-- START row -->
    <div class="row">
      <div class="cell" style="text-align: left;">
        Легкая атлетика
      </div>

      <div class="cell hidden-xs">
        108
      </div>

      <div class="cell hidden-xs">
        0
      </div>

      <div class="cell hidden-xs">
        3
      </div>

      <div class="cell">
        17
      </div>

      <div class="cell hidden-xs">
        32
      </div>

      <div class="cell hidden-xs">
        12
      </div>
    </div>
    <!-- END row -->


    <!-- START row -->
    <div class="row">
      <div class="cell" style="text-align: left;">
        Гонки героев
      </div>

      <div class="cell hidden-xs">
        108
      </div>

      <div class="cell hidden-xs">
        0
      </div>

      <div class="cell hidden-xs">
        3
      </div>

      <div class="cell">
        17
      </div>

      <div class="cell hidden-xs">
        32
      </div>

      <div class="cell hidden-xs">
        12
      </div>
    </div>
    <!-- END row -->


    <!-- START row -->
    <div class="row">
      <div class="cell" style="text-align: left;">
        Функциональная тренировка
      </div>

      <div class="cell hidden-xs">
        108
      </div>

      <div class="cell hidden-xs">
        0
      </div>

      <div class="cell hidden-xs">
        3
      </div>

      <div class="cell">
        17
      </div>

      <div class="cell hidden-xs">
        32
      </div>

      <div class="cell hidden-xs">
        12
      </div>
    </div>
    <!-- END row -->


  </div>
</div>


