<div class="wrapper">

  <table class="table"  data-tablesaw-mode="swipe">

  <thead>
    <tr class="row header-tb">
      <th class="cell" style="text-align: left; font-weight: 900; font-size: 1.6rem;">
        ПАРАМЕТРЫ
      </th >
      <th class="cell" >ВСЕГО</th >
      <th class="cell"> СЕГОДНЯ</th >
      <th class="cell">
        ЗА НЕДЕЛЮ
      </th >
      <th class="cell">
        ЗА МЕСЯЦ
      </th >
      <th class="cell">
        ЗА ГОД
      </th >
      <th class="cell">
        ЗА ПЕРИОД
      </th >
    </tr></thead>

    <!-- START row -->
    <tr class="row">
      <td class="cell" style="text-align: left;">
        Поступило на счет
      </td>

      <td class="cell">50 000</td>

      <td class="cell">
        1000
      </td>

      <td class="cell">
        1000
      </td>

      <td class="cell">
        15000
      </td>

      <td class="cell">
        20000
      </td>

      <td class="cell">
        34000
      </td>
    </tr>
    <!-- END row -->



    <!-- START row -->
    <tr class="row">
      <td class="cell" style="text-align: left;">
        Выведено со счета
      </td>

      <td class="cell">50 000</td>

      <td class="cell">
        1000
      </td>

      <td class="cell">
        1000
      </td>

      <td class="cell">
        15000
      </td>

      <td class="cell">
        20000
      </td>

      <td class="cell">
        34000
      </td>
    </tr>
    <!-- END row -->


  </table>
</div>

