<div class="main">
  <!-- START main-title -->
  <div class="main-title">
    ПРИГЛАСИТЬ ДРУЗЕЙ
  </div>
  <!-- END main-title -->

  <!-- START friends -->

  <div class="friends">

    <div class="friend">


      <div class="friend__title">
        <div class="friend__title--num">1</div>
        разместите ссылку у себя на сайте
      </div>

      <div class="friend__title-desc">
        или поделитесь ею в соцсетях
      </div>

      <div class="input">
        <input type="text" />
      </div>

      <div class="friend__btn-social">
        <a href="#">
          <img class="friend__btn-social--items" src="../img/icons/icon-social-fb.svg" />
        </a>
        <a href="#">
          <img class="friend__btn-social--items" src="../img/icons/icon-social-vk.svg" />
        </a>
        <a href="#">
          <img class="friend__btn-social--items" src="../img/icons/icon-social-inst.svg" />
        </a>
      </div>

    </div>



    <div class="friend">

      <div class="friend__num"></div>

      <div class="friend__title">
            <div class="friend__title--num">2</div>
        пригласите друзей по e-mail
      </div>

      <div class="friend__title-desc">
        вставьте список адресов
      </div>

      <div class="input">
        <input type="text" />
      </div>

      <div class="table-btns pass-acc" style="margin-top: 0;">
        <button class="table-btn table-btns--blue">пригласить</button>
      </div>

    </div>



  </div>

  <!-- END friends -->


</div>
