<div class="main">
    <!-- START main-title -->
    <div class="main-title">
        АККАУНТ
      </div>
    <!-- END main-title -->
  
    <!-- START password -->
    <form class="passwords">
  
      <div class="password user-desc">
  
        <div class="input user-desc__item">
          <label for="pass-01">
            ФАМИЛИЯ
          </label>
          <input type="text" id="pass-01" />
        </div>
        <div class="input user-desc__item">
          <label for="pass-02">
            E-mail АДРЕС 
          </label>
          <input type="email" id="pass-02" />
        </div>

        <div class="input user-desc__item">
            <label for="pass-03">
                ТЕЛЕФОН
            </label>
            <input type="phone" id="pass-03" />
          </div>
  
  
  
      </div>
  
      <span class="lain-end"></span>
  
      <!-- START table-btn -->
      <div class="table-btns pass-acc">
        <button class="table-btn table-btns--blue">Сохранить изменения</button>
      </div>
      <!-- END table-btn -->
  
    </form>
    <!-- END password -->
  </div>
  