<div class="main">
  <!-- START main-title -->
  {% include "partials/_main-title-btn.html" %}
  <!-- END main-title -->

  <!-- START table-btn -->

    <div class="table-btns hero-btn dashbord-btn-mob">
      <button class="table-btn table-btns--white hero-btn" style="margin-right: 3rem;" >ИЗМЕНИТЬ ПАРОЛЬ</button>
      <button class="table-btn table-btns--white hero-btn">редактировать</button>
    </div>

  <!-- END table-btn -->

  <div class="dashbord">

    <div class="dashbord__ava">AC</div>

    <div class="dashbord__name">
      <span class="dashbord__name--lable">ФИО</span>
      <span>Сергеев Александр Владимирович</span>
    </div>



    <div class="dashbord__name">
      <span class="dashbord__name--lable">E-mail АДРЕС</span>
      <span>sergeev.a@mail.ru</span>
    </div>


    <div class="dashbord__name">
      <span class="dashbord__name--lable">ТЕЛЕФОН</span>
      <span>+7 (968) 671-84-84</span>
    </div>

  </div>
</div>
