// footer-hero
.footer-hero {
    position: relative;
    width: 100%;
    height: 38rem;
    @include r($xs) {
        height: 30rem;
    }

    &::before {
        content: '';
        position: absolute;
        background: url('../img/mountains.png');
        background-repeat: no-repeat;
        top: -31rem;
        height: 200%;
        left: 0;
        width: 100%;
        z-index: -1;
        background-size: cover !important;
        background-position: 50% 50% !important;
        @include r($xs) {
            background-position:11% 50% !important;
            top: -18rem;
            height: 180%;
        }
    }

    &__shadow {
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url('../img/shadow.png');
        width: 100%;
        height: 100px;
        position: absolute;
        bottom: -53px;
        opacity: .2;
    }

    img {
        object-fit: cover;
        margin-bottom: -.6rem;
    }
}


// footer
.footer {
    background-color: $color-footer-bg;
    padding: 2.5rem;
    @include r($sm) {
        padding-top: 3rem;
        .container {
            padding: 0;
        }
    }

    &__nav {

        @include r($sm) {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &--link {
            color: #fff;
            font-family: $m-100;
            margin-right: 3rem;
            font-size: 1.6rem;

            @include r($sm) {
                margin-bottom: 1rem;
                &:last-child {
                    margin-right: 0;
                }
            }

            &:hover {
                text-decoration: underline;
            }
        }
    }
}
