// main
.main {

    overflow: hidden;
    

    &__heros {
        font-family: $m-500;
        height: 5rem;
        display: flex;
        align-items: center;
        align-content: center;
        padding-left: 4rem;
        font-family: $m-500;
        color: $color-txt;
        margin-top: 4rem;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            left: 0;
            bottom: -2rem;
            background-color: $color-line;
            width: 100%;
            height: .1rem;
        }

        &--title {
            flex: 1;
        }
    }

    .icon-notes {
        display: inline-block;
        width: 2rem;
        height: 2rem;
        margin-right: 2rem;
        @include r($sm) {
            width: rems(27);
            height: rems(27);
            margin-right: rems(17);
        }
    }

    .icon-up {
        width: 1rem;
        height: .7rem;
        display: inline-block;
        margin-right: 4rem;
        position: relative;
        top: .2rem;
    }

    .lain-end {
        border: 0.5px solid $color-line;
        width: 100%;
        display: block;
        margin-top: 3rem;

        @include r($sm) {
            display: none;
        }
    }

}


.lain-left {
    position: absolute;
    width: 234px;
    height: 153px;
    left: 0;
    top: 800px;
    z-index: 10;

    @include r(1600px) {
        left: -100px;
    }

    @include r(1400px) {
        left: -170px;
    }

    @include r($md) {
        display: none;
    }
}

.visible {
    display: none;
    &-sm {
        @include r($sm) {
            display: block;
        }
    }
}
.hidden {
    &-sm {
        @include r($sm) {
            display: none !important;
        }
    }
    &-xs {
        @include r($xs) {
            display: none !important;
        }
    }
}


.lain-right {
    position: absolute;
    width: 234px;
    height: 153px;
    right: 0;
    top: 270px;
    z-index: 1;

    @include r(1600px) {
        right: -100px;
    }

    @include r(1400px) {
        right: -170px;
    }

    @include r($md) {
        display: none;
    }
}

