// menu-mobile
.vs-sidebar {
    max-width: 40rem;
    // position: relative;
    @include r($sm) {
        max-width: rems(290);
    }
}

.vs-sidebar header {
    background-color: $color-blue;
    color: #fff;
    font-family: $m-500;
    padding-left: 4rem;
    padding-top: 7px;
    padding-bottom: 7px;
    @include r($sm) {
        padding-left: rems(37);
        font-size: rems(15);
    }
}

.vs-sidebar .vs-sidebar-items .vs-sidebar-item {
    img {
        width: 3rem;
        margin-right: rems(11);
    }

    a {
        font-family: $m-500;
        color: #3b1c15;
        text-transform: uppercase;
        font-size: 2rem;
    }



}

.sidebar-mob-btn {
    background-color: $color-blue;
    width: 100%;
    padding: rems(23) rems(37);
    color: #fff;
    display: block;
    margin-top: rems(2);
    font-family: $m-500;
    font-size: rems(13);
    text-transform: uppercase;
    font-weight: 500;

    &:hover {
        color: #fff;
        background-color: $color-btn-hover;
        text-decoration: none;
    }
}


.close-sidebar-menu {
    position: absolute;
    right: -36px;
    top: 0;
    background-color: red;
    line-height: 0em;
    padding: 5px 5px 6px 5px;

    @include r($xs) {
        right: -35px;
    }

    i {
        color: #fff;
        font-size: rems(25);

        @include r($xs) {
            font-size: rems(25);
        }
    }
}


.icon-sidebar {
    width: 3rem;
    margin-right: rems(10);
}
.vs-sidebar--items {
    padding-top: 20px;
}

.vs-sidebar--item a {
    font-family: $m-500;
    color: #3b1c15;
    padding-left: rems(37);
    color: #3b1c15;
    font-size: rems(12);
    font-weight: 400;
    text-transform: uppercase;
    padding-top: 7px;
    padding-bottom: 7px;
}

.vs-sidebar--item i.material-icons {
    display: none;
}
