// friends
.friends {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 3rem;

    @include r($lg) {
        grid-template-columns: 1fr;
        grid-gap: 2rem;
    }
}


.friend {
    color: $color-txt;
    font-size: 1.6rem;
    padding: 4rem;

    @include r($lg) {
       padding-bottom: 1rem;
    }



    &__title {
        text-transform: uppercase;
        font-family: $m-500;
        font-weight: 500;
        font-size: 1.5rem;
        // padding-left: 1rem;
        position: relative;
        line-height: 1.2em;
        nobr {
            text-transform: uppercase;
        }
        @include r($sm) {
            max-width: 80%;
            font-size: rems(15);
            font-family: $m-300;
            font-weight: 300;
        }


        &--num {
            position: absolute;
            font-size: 4rem;
            font-family: $m-300;
            color: $color-txt;
            left: -3rem;
            top: 1rem;
            @include r($sm) {
                font-size: rems(33);
            }

            &::before {}
        }
    }

    &__title-desc {
        font-family: $m-300;
        font-weight: 300;
        margin-bottom: 2rem;
        @include r($sm) {
            font-size: rems(15);
        }
    }

    .input {
        margin-bottom: 2rem;

        input {
            width: 100%;
        }
    }

    &__btn-social {
        display: block;
        text-align: center;

        &--items {
            width: remc(36);
            height: remc(36);
            display: inline-block;
            margin-right: 1rem;
            @include r($sm) {
                width: rems(36);
                height: rems(36);
            }
            path.cls-1 {
                fill: #459ad3;
            }
            path.cls-2 {
                fill: #fff;
            }
        }
        a {
            &:hover {
                path.cls-1 {
                    fill: #61b4e2;
                }
            }
        }
    }
}
